
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body { font-family: 'Droid Serif'; }
h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
}

.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }

img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.half-size img {
  width: 50%;
}

.red { color: red; }
.green { color: green; }
.blue { color: blue; }

div.col-left { width: 49%; float: left }
div.col-right { width: 49%; float: right }

div.col-left23 { width: 66%; float: left }
div.col-right13 { width: 33%; float: right }

div.col-left13 { width: 33%; float: left }
div.col-right23 { width: 66%; float: right }

/* classes for animating blocks */
div.phasing .phase1, div.phasing .phase2, div.phasing .phase3, div.phasing .phase4 {
  display: none;
}

div.phasing.phase1 .phase1, div.phasing.phase2 .phase2, div.phasing.phase3 .phase3, div.phasing.phase4 .phase4 {
  display: block;
}
